- name: make sure git is installed
  package: 
    name: 
      - git
      
- name: make directory for dotfiles
  become_user: ldraney
  ignore_errors: yes
  ansible.builtin.file:
    path: /home/ldraney/{{ item }}
    state: directory
    mode: '0755'
  with_items:
    - .local/share/nvim/site/autoload
    - .config

  #clone dotfiles repo and symlink my files
- name: clone dotfiles
  ignore_errors: yes
  become_user: ldraney
  ansible.builtin.git:
    repo: 'ssh://git@github.com/ldraney/dotfiles.git'
    clone: yes
    update: yes
    dest: /home/ldraney/github/dotfiles
    key_file: /home/ldraney/.ssh/id_ed25519
    accept_hostkey: yes

- name: clone ssh_keys
  ignore_errors: yes
  become_user: ldraney
  ansible.builtin.git:
    repo: 'ssh://git@github.com/ldraney/sensitive.git'
    update: yes
    clone: yes
    dest: /home/ldraney/github/sensitive
    key_file: /home/ldraney/.ssh/id_ed25519
    accept_hostkey: yes

      #- name: remove files to make room for new symlinks
      #  file: 
      #    path: '{{ item }}'
      #    state: absent
      #  with_items:
      #    - /home/ldraney/.oh-my-zsh
      #    - /home/ldraney/.ssh

- name: dotfile symbolic links to user config
  ansible.builtin.file:
    owner: ldraney
    group: ldraney
    follow: false
    src: '/home/ldraney/github/dotfiles/{{ item.src }}'
    dest: '/home/ldraney/{{ item.dest }}'
    state: link
    force: true
  loop:
    - { src: 'nvim/', dest: '.config/nvim' }
    - { src: 'tmux/tmux.conf', dest: '.tmux.conf' }
    - { src: 'zsh/zshrc', dest: '.zshrc' }
    - { src: 'zsh/oh-my-zsh', dest: '.oh-my-zsh' }
    - { src: 'environment/warprc', dest: '.warprc' }
    - { src: 'zsh/zsh_history', dest: '.zsh_history' }
    - { src: 'git/gitconfig', dest: '.gitconfig' }
    - { src: 'zsh/zshenv', dest: '.zshenv' }
    - { src: 'customCommands', dest: '.customCommands' }
    - { src: 'ansible.cfg', dest: '.ansible.cfg' }

#- name: delete old .vim directory
  #file:
    #state: absent
    #path: /home/ldraney/.vim

- name: sensitive files symlinks
  ignore_errors: yes
  become_user: ldraney
  ansible.builtin.file:
    src: '/home/ldraney/github/sensitive/{{ item.src }}'
    dest: '/home/ldraney/{{ item.dest }}'
    state: link
    force: true
  loop:
    - { src: 'zsh/zsh_history', dest: '.zsh_history' }
    - { src: 'zsh/zshenv', dest: '.zshenv' }
    - { src: 'vim', dest: '.vim' }
    - { src: 'ansible/ansible.cfg', dest: '.ansible.cfg' }

#- name: copy ssh keys
  #ignore_errors: yes
  #copy:
    #src: /home/ldraney/github/sensitive/ssh
    #dest: /home/ldraney/.ssh
    #owner: ldraney
    #group: ldraney
    #mode: 400
      #- name: Evaluating the authentication agent & adding the keys...
      #  become_user: ldraney
      #  shell:
      #    cmd: {{ item }}
      #  with_items: 
      #    - eval "$(ssh-agent)"
      #    - ssh-add ~/.ssh/id_rsa
      #    - ssh-add ~/.ssh/id_ed25519

- name: neovim root link
  ignore_errors: yes
  ansible.builtin.file:
    src: '/home/ldraney/github/dotfiles/{{ item.src }}'
    dest: '/{{ item.dest }}'
    state: link
  loop:
    - { src: 'nvim/nvim-linux64/bin/nvim', dest: 'usr/bin/vim' }

- name: change user shell to zsh (needs restart to be effective)
  become: yes
  user:
    name: "ldraney"
    shell: /bin/zsh

# install neovim plugins
- name: make autoload directory for neovim
  become_user: ldraney
  ansible.builtin.file:
    path: /home/ldraney/.local/share/nvim/site/autoload
    state: directory
    mode: '0755'
- name: install neovim plugin manager from junegunn
  ignore_errors: yes
  become_user: ldraney
  ansible.builtin.get_url:
    dest: /home/ldraney/.local/share/nvim/site/autoload/plug.vim
    url: https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim
- name: install plugins
  become_user: ldraney
  shell: 'vim --headless +PlugInstall +qall'

